<div class="media">
    <div class="media-body">
        <span class="overlay-icons">
            <a ng-click="model.widgetEdit(widget._id)" class="glyphicon glyphicon-cog text-primary"></a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </span>
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Image_Germania_%28painting%29.jpg/158px-Image_Germania_%28painting%29.jpg"
            alt="this is the image of a state" />
    </div>
</div>
