<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-link col-xs-12">
                <li>
                    <a ng-click="model.widgetList()" class="nav navbar-brand">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </a>
                </li>
                <li>
                    <a href="" class="nav navbar-brand">
                        <span>Widget Edit</span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-default navbar-fixed-bottom col-xs-12">
            <li class="nav navbar-right">
                <a href="profile.html" class="nav navbar-brand">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="list-group">
                <a ng-click="model.goToWidgetHeading()" class="list-group-item no-border">
                    Header
                </a>
                <a ng-click="model.goToWidgetImage()" class="list-group-item no-border">
                    Image
                </a>
                <a ng-click="model.goToWidgetYoutube()" class="list-group-item no-border">
                    Youtube
                </a>
            </div>
        </div>
    </div>
</div>
