<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-link col-xs-12">
                <li>
                    <a ng-click="model.widgetList()" class="nav navbar-brand">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </a>
                </li>
                <li>
                    <a href="" class="nav navbar-brand">
                        <span>Widget List</span>
                    </a>
                </li>
                <li class="nav navbar-right">
                    <a ng-click="model.saveWidget()" class="nav navbar-brand">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-default navbar-fixed-bottom col-xs-12">
            <li>
                <a class="nav navbar-brand">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </li>
            <li>
                <a class="nav navbar-brand">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </li>
            <li class="nav navbar-right">
                <a ng-click="model.toProfile()" class="nav navbar-brand">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="list-group">
                <div class="list-group-item no-border">
                    <div ng-switch="model.currentWidget.type">
                        <div ng-switch-when="HEADING">
                            <ng-include src="'views/widget/templates/widget-heading-edit.view.client.html'">
                        </div>
                        <div ng-switch-when="IMAGE">
                            <ng-include src="'views/widget/templates/widget-image-edit.view.client.html'">
                        </div>
                        <div ng-switch-when="YOUTUBE">
                            <ng-include src="'views/widget/templates/widget-youtube-edit.view.client.html'">
                        </div>
                        <div ng-switch-when="TEXT">
                            Text
                            <input ng-model="model.currentWidget.text" class="form-control"/>
                            Rows
                            <input ng-model="model.currentWidget.rows" class="form-control" type="number"/>
                            Placeholder
                            <input ng-model="model.currentWidget.placeholder" class="form-control"/>
                            Formatted
                            <input ng-model="model.currentWidget.formatted" type="checkbox"/>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
