<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-link col-xs-12">
                <li>
                    <a ng-click="model.toPageList()" class="nav navbar-brand">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </a>
                </li>
                <li>
                    <a href="" class="nav navbar-brand">
                        <span>Widget List</span>
                    </a>
                </li>
                <li class="nav navbar-right">
                    <a ng-click="model.addWidget()" class="nav navbar-brand">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-default navbar-fixed-bottom col-xs-12">
            <li>
                <a class="nav navbar-brand">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </li>
            <li>
                <a class="nav navbar-brand">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </li>
            <li class="nav navbar-right">
                <a ng-click="model.toProfile()" class="nav navbar-brand">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="col-xs-12">
            <ul wbdv-sortable class="list-group">
                <li ng-mousedown="model.active(widget._id)" class="list-group-item no-border" ng-repeat="widget in model.widgets">
                    <div ng-switch="widget.type">
                        <div ng-switch-when="HEADING">
                            <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
                        </div>
                        <div ng-switch-when="IMAGE">
                            <ng-include src="'views/widget/templates/widget-image.view.client.html'">
                        </div>
                        <div ng-switch-when="YOUTUBE">
                            <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
                        </div>
                        <div ng-switch-when="TEXT">
                            <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                        ['indent','outdent'],['html']]"></div>
                            <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                                   placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
                            <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                                      rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                                      class="form-control">{{widget.text}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
