<div class="container-fluid">
    <div class="col-xs-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="pagename">Name</label>
                <input ng-model="model.currentWidget.name" id="pagename" class="form-control" placeholder="Name" type="text" />
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <div ng-model="model.currentWidget.text"
                     text-angular
                     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                               ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                               ['indent','outdent'],['html']]">
                </div>
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input id="url" ng-model="model.currentWidget.url" class="form-control" placeholder="URL" type="url" />
            </div>
            <div class="form-group">
                <label for="width">Width</label>
                <input id="width" ng-model="model.currentWidget.width" class="form-control" placeholder="width" type="number" />
            </div>
            <div class="form-group">
                <a class="btn btn-block btn-danger" ng-click="model.deleteMove(model.currentWidget._id)">Delete</a>
            </div>
        </form>
    </div>
</div>
</div>
